@font-face {
	font-family: 'PTSans-Regular';
	src: url('../css/fonts/PTSans-Regular.eot');
	src: local('PTSans-Regular'),
		url('../css/fonts/PTSans-Regular.woff') format('woff'),
		url('../css/fonts/PTSans-Regular.ttf') format('truetype'),
		url('../css/fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Conv_RUBLSI_TT"; 
	src: url("../css/fonts/RUBLSI_TT.eot"); 
		src: local("RUBLSI_TT"), 
		url("../css/fonts/RUBLSI_TT.woff") format("woff"),
		url("../css/fonts/RUBLSI_TT.ttf") format("truetype"), 
		url("../css/fonts/RUBLSI_TT.svg#RublSign") format("svg");
    font-weight: normal;
    font-style: normal;
}
.navbar-header{width:100%;background:#ffffff;}
.navbar-header .red_line{height:3px;background:#d13138;}
.top-contacts{overflow: hidden;padding-bottom: 10px;padding-top: 15px;}
.person_block{float:right;text-align:right;line-height: 1;padding-right:10px;}
.person_block .name_person{font-size:14px;color:#252525;padding-left:20px;background:url(../images/bg/people_icon.png) no-repeat 0 3px;}
.person_block .name_person.admin_name{position: relative;top: 8px;}
.person_block .contract{font-size:11px;color:#666666;}
.exit_button{float:right;display:block;background:#eff6f9 url(../images/bg/logout_icon.png) no-repeat 8px 7px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;border:1px solid #d1dae0;color:#252525;text-decoration:none;font-size:14px;padding: 4px 10px 5px 25px;}
.exit_button:hover{text-decoration:none;}
.exit_button img {margin-right: 4px;position: relative;top: -1px;}
.navbar-toggle{margin: 0 0 0 10px;padding: 7px 10px;}

.navbar-inverse{background:transparent;border:0;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.navbar-collapse{clear:both;}
.navbar-collapse .top_menu{
	background-color: #ffffff;
	background-image: -moz-linear-gradient(top, #ffffff, #dde9ef);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dde9ef));
	background-image: -webkit-linear-gradient(top, #ffffff, #dde9ef);
	background-image: -o-linear-gradient(top, #ffffff, #dde9ef);
	background-image: linear-gradient(to bottom, #ffffff, #dde9ef);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdde9ef', GradientType=0);
	border: 1px solid #d1dae0;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-width:0 1px 1px 0;
	margin:0;
}
.navbar-collapse .middle_menu{
	margin:-3px 0 0;
	padding:5px 0 0;
	background:#3d3d49;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	position:relative;
	z-index:2;
}
.middle_menu .navbar-nav{margin:0 -15px; padding:0 3px;}
.middle_menu .navbar-nav > li{background:transparent;padding: 0 2px 5px 3px;}
.middle_menu .navbar-nav > li > a{line-height: 14px;text-decoration:underline;color:#cdcdcd;padding:7px 10px 9px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;text-decoration:none;}
.middle_menu .navbar-nav > li > a:hover{color:#3d3d49;background:#fff;}
 .navbar-inverse .middle_menu .navbar-nav > .active > a, .navbar-inverse .middle_menu .navbar-nav > .active > a:hover,.navbar-inverse .middle_menu  .navbar-nav > .active > a:focus{margin-bottom: 0;padding-bottom: 9px;background-image:none;color:#3d3d49;background:#fff;}

.navbar-nav{margin:0 -15px!important;}
.navbar-nav > li{background:url(../images/bg/separator_bg.gif) repeat-y 100% 0;}
.navbar-nav > li > a{line-height: 16px;text-decoration:none;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{margin-bottom: -1px;padding-bottom: 16px;background-image:none;}
.navbar .brand{padding-top:14px;display:block;text-decoration:none;}
.navbar-inverse .btn-navbar {color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);background: #d13138;border-color: transparent;}
.navbar-inverse .btn-navbar:hover{background:#df3239;}
.go_to_site{padding-top: 12px;padding-bottom:10px;text-align: right;}
.go_to_site a,.go_to_site a:hover{line-height:1.5;color:#666666;}

/*footer*/
footer{background:#3d3d49;font-size:14px;	color:#cdcdcd;}
footer .container{background:#3d3d49;}
footer a,footer a:hover{color:#cdcdcd;}
footer  a{	text-decoration:underline;}
footer  a:hover{text-decoration:none;}
footer .row{padding-top:10px;}
footer .row > div{height:40px;line-height: 2.3;}
footer .center{text-align:center;}
footer .drucom{display:block;	vertical-align: top;width:155px;float: right;}
footer  .drucom-info{width:auto;float:right;padding-left:35px;	background:url(../images/bg/drucom.png) no-repeat 0 0;height: 30px;font-size:11px;line-height: 1.2;color:#cdcdcd;}

/*content elements*/
h1, h2{font-family: 'PTSans-Regular';font-size:20px;color:#454545;text-transform:uppercase;}
a,a:hover{color:#0064b1;}
span.rub{font-family: "Conv_RUBLSI_TT";}
.inner-block{position:relative;/*overflow:hidden;*/border:1px solid #d1dae0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background:#fff;margin-bottom:20px;}
.linkButton,.linkButton2{width:auto;display:block;clear:both;color:#d13138;background:#fff;border: 1px solid #d13138;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;float:left;text-decoration:none;padding: 4px 14px;}
.linkButton:hover{text-decoration:none;color:#fff;background:#d13138;}
.linkButton2{color:#fff;background:#d13138;}
.linkButton2:hover{text-decoration:none;color:#d13138;background:#fff;}
.table_info_block{overflow:hidden;width:100%;margin-bottom: 15px;}
.table_info_block > div{float:left;width:40%;padding:2px 0;}
.table_info_block > div.col-right{width:60%;}
.table_info_block > div.clearfix{clear:both;padding:0;}
.inner-top,.inner-bottom{
	background-color: #d8e5ec;
	background-image: -moz-linear-gradient(top, #d8e5ec, #eff6f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d8e5ec), to(#eff6f9));
	background-image: -webkit-linear-gradient(top, #d8e5ec, #eff6f9);
	background-image: -o-linear-gradient(top, #d8e5ec, #eff6f9);
	background-image: linear-gradient(to bottom, #d8e5ec, #eff6f9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd8e5ec', endColorstr='#ffeff6f9', GradientType=0);
	border-top: 1px solid #d1dae0;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	margin:0;
	text-align:right;
	padding:10px 15px;
}
.inner-top{text-align:left;clear:both;position:relative;border-bottom: 1px solid #d1dae0;border-top:0;-webkit-border-radius: 3px 3px 0 0;-moz-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;}
.inner-top h3{margin:0;}
.inner-top a{position:absolute;right:20px;top: 8px;}
.inner-top a,.inner-top a:hover,.inner-bottom a,.inner-bottom a:hover{color:#0064b1;}
.table_block{/*overflow-x: scroll;*/}
.table_block table{width:100%;}
.table_block table thead{background:#eff6f9;}
.table_block table td{	padding:10px 20px;}
.table_block.clients_table table td {padding: 10px;}
.table_block table td.right{text-align:right;}
.table_block table td.with_button{width:85px;padding:10px;}
.table_block table td.with_button a{margin:-4px -5px -4px -10px;padding:4px 10px;}
.table_block table tbody tr{border-top:1px solid #d1dae0;}
.with_border table thead tr:first-child td{border-top:0;}
.with_border table tr{border:0;}
.with_border table td{border:1px solid #d1dae0;}
.with_border table td:first-child{border-left:0;}
.with_border table td:last-child{border-right:0;}
.with_border table tbody tr:last-child td{border-bottom:0;}

.bootstrap-select > .btn{padding: 4px 12px;}
.bootstrap-select > .btn .pull-left{padding:4px 0;border-right:1px solid #d1dae0;margin:-4px 0 0;}
.bootstrap-select.btn-group .btn .caret{right: 9px;}
.button_line{clear:both;position:relative;padding:10px 0;}
.button_line input{position:relative;display:block;top:-3px;float:left;}
.button_line a,.button_line a:hover{color:#0064b1;}
.button_line a{margin-left:10px;}
.button_line a:first-child{margin-left:0;}
.close_button, .close_icon{display:block;position:absolute;top:15px;right:15px;height:17px;width:17px;background:url(../images/bg/close_icon.png) no-repeat 0 0;border:0;z-index: 10;}

.password_block .inner-block{overflow:hidden;}

.remember_login, .remember_password{font-size:12px;text-decoration:none;border-bottom:1px dashed #0064B1;}
.remember_login:hover, .remember_password:hover{border-color:transparent;}
.sms_true_block .linkButton2.col-sm-4{float:none;display:inline-block;}
.find_login,.sms_true_block, .sms_remember_password, .block_remember_password{width:90%;margin:auto;display:none;}
.find_login h3,.block_remember_password h3,.sms_remember_password h3{margin-top:0;}
.index_page .row{padding-top:20px;padding-bottom:20px;}
/*portfolios_table*/
.hide_more{}
.hide_more a,.show_more a{font-size:12px;color:#0064b1;text-decoration:none;border-bottom:1px dashed #0064b1;}
.hide_more a:hover,.show_more a:hover{color:#0064b1;text-decoration:none;border-color:transparent;}
.portfolios_table{}
.portfolios_table th{font-weight:normal;background:#eff6f9;padding:10px 20px;border:1px solid #d1dae0;}
.portfolios_table .active{background:#eff6f9;}
.portfolios_table table td.with_button{padding:10px 20px;}
.portfolios_table table td{vertical-align:top;}
.table_block table td.with_button a{margin: -4px 0 -4px -8px;/*padding: 4px 10px;*/padding: 4px 8px;}
.portfolios_table table td.with_button a{margin: -4px 0 -4px -10px;/*padding: 4px 13px;*/padding: 4px 10px;}
.hidden_table{display:none;}
.hide_more{display:none;}
.glyphicon{color:#454545;text-decoration:none;position: relative;top: 2px;}

.find_client,.vertical_air{
	margin:20px 0;
}
#find_client label{text-align:left;}
#find_client .button_line{text-align:left;}
#find_client .button_line >div:first-child{text-align:right;}
#find_client .button_line >div:first-child input{float:none;display:inline-block;}
.clients_bill{font-size:12px;white-space:nowrap;}
.some_buttons a{display:inline-block;float:none;margin-right:10px;}
.padding_bottom{margin-bottom:20px;}
.button_line.some_buttons a.linkButton2{color:#fff;}
.button_line.some_buttons a.linkButton2:hover{color:#D13138;}

.change_manager_check{display:none;}

.col-sm-9.button_line{padding-left:15px;}
/*modals*/
.modal-content{position:relative;padding:20px;}
.modal-content .line{overflow:hidden;}
#change_manager .line{overflow:visible;}
.modal-content .line.with_selectbox{overflow:visible;}
.modal-content .line .control-label,.modal-content .line .form-control,.modal-content .line .linkButton2{float:left;margin-right:10px;}
.modal-content .line .linkButton2{clear:none;padding: 6px 15px;}
.modal-content .line input.linkButton2{clear:none;height: 34px;padding: 0 15px;}
	
#code_true_modal .modal-content{	width:410px;}
#kode_true{	width:100px;}
#time_kode_true{width:55px;}
.more_code{text-decoration:none;/*font-size:11px;*/font-size:13px;border-bottom:1px dashed #0064b1;float:left;}
.more_code:hover{border-color:transparent;}
#code_true_modal p{font-size:11px;}
.modal{}
#code_true_modal .modal-sm{width:410px;margin: 7% auto 0;}
#complain_manager_block .modal-md{margin: 7% auto 0;}
.modal-dialog.modal-sm{margin: 7% auto 0;}
.modal-dialog h3{margin-top:0;}
#complain_manager_form .form_success,#personal_manager_data .form_success,#change_manager_form .form_success{height:auto;position: static;}
#password_change_block .form_success{height:auto;position: static;padding:0 20px;}
#password_change_block .fields_block{height:auto;overflow:hidden;}
#personal_manager_data .form_success{text-align:center;}
#personal_manager_data .form_success p{font-size:20px;}

#personal_manager_data .fields_block{overflow:hidden;}
.contract_info{float:right;margin-bottom: 10px;margin-top: 20px;font-size:20px;}

#order_call2 .form_success{height:auto;position: static;}
#order_call2 #floatingBarsG1{
	margin-top:0;
}

.button_bottom_line{
	margin-bottom:40px;
	text-align:center;
}
.button_bottom_line a{margin:0 0 0 10px;}
.button_bottom_line .linkButton2{display:inline-block;float:none;}
.button_bottom_line .delete_bill{float:right;clear:none;}
.button_bottom_line .to_client{float:left;}
/*reports_search*/
#reports_search label{text-align:left;}
#reports_search .date{width:25%;display:inline-block;margin-right:10px;}
#reports_search .linkButton2{float:none;display:inline-block;padding: 6px 14px;}
.reports_search_links{text-align:right;}
.reports_search_links a{margin-left:15px;}
.report_item{margin-bottom:40px;}
.report_item .button_line a{color:#D13138;}
.report_item .button_line a:hover{color:#fff;}

/*forms*/
.fields{margin-top:15px;margin-bottom:15px;}
.fields_paddings .line:first-child{padding-top:15px;}
.fields_paddings .line:last-child{padding-bottom:15px;}
.line{clear: both;float: left;margin: 5px 0;width: 100%;}
.line label,.line a{margin-top:8px;display: inline-block;}
.line label{color:#454545;text-align:right;font-weight:normal;}
.line label.medium{padding-left: 0;}
.line label.short_height{margin:0;}
.line .checkbox {margin:0;padding-left:35px;padding-left:20px;}
.line .checkbox label{margin:0;text-align:left;}
.line label.big_text{	margin-top:0px;line-height: 1.2;}
.line label.big_text .small, div.small{font-size:11px;}
.line .button_line a{margin-top:0;}
.line .button_line2{clear: both;margin-bottom: 5px;overflow: hidden;}
.line .button_line{overflow:hidden;}
.padding{margin:20px;border:1px solid #D1DAE0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius:3px;overflow:hidden;}
.show_edit_block{display:none;}
.bank_block_edit{display:none;}

/*datapicker*/
.bootstrap-datetimepicker-widget th.next span{width:10px;height:12px;display:block;float:right;margin-right:5px;background:url(../images/bg/next.png) no-repeat 100% 0;}
.bootstrap-datetimepicker-widget th.prev span{width:10px;height:12px;display:block;float:left;margin-left:5px;background:url(../images/bg/prev.png) no-repeat 0 0;}
.bootstrap-datetimepicker-widget th.next{background:url(../images/bg/next.png) no-repeat center center;}
.bootstrap-datetimepicker-widget th.prev{background:url(../images/bg/prev.png) no-repeat center center;}
.bootstrap-select.form-control{margin-bottom:0;}

/*manager page*/
.manager_block{overflow:hidden;clear:both;position:relative;}
.manager_block .col-right a,.manager_block_right .col-right a{color:#454545;}
.col-md-6 .manager_block,.manager_block_right{margin-bottom:15px;}
.manager_block .image{float:left;width:175px;}
.manager_block .image img {border: 1px solid #d1dae0;margin:4px;}
.manager_block .other_info{overflow:hidden;padding: 15px 15px 10px 0;}
.manager_block_right{margin: 90px 0 0;}
.other_info .name {color:#000;font-size:16px;}
.other_info .post {color:#454545;font-size:14px;margin-bottom: 15px;}
.your_manager_page .inner-block{overflow:hidden;}
.your_manager_page .manager_block{margin-top:15px;}

#password_change_block .checkbox {margin:0;}
#password_change_block input.linkButton2{padding: 6px 14px;}
#password_change_block .line:last-child input{margin-bottom:10px;}
/*поручения*/
.orders-list{background:#eff6f9;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius:3px;}
.top_nav.orders-list{margin:0 15px;}
.orders-list ul{margin:0;padding:1% 0 0;list-style:none;overflow:hidden;clear:both;}
.orders-list ul li{margin:0 1% 1% 0.5%;padding:0;display:block;border:1px solid #d1dae0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius:3px;width:48.5%;float:left;background:#fff;}
.orders-list.top_nav ul li{margin:0 0.25% 1% 0.25%;width:19.4%;height: 90px;}
.orders-list ul li:nth-child(2n+1){clear:both;margin:0 0.5% 1% 1%;}
.orders-list.top_nav ul li:nth-child(2n+1){clear:none;margin:0 0.25% 1% 0.25%;}
.orders-list.top_nav ul li:first-child{clear:none;margin:0 0.25% 1% 0.5%;}
.orders-list.top_nav ul li:last-child{clear:none;margin:0 0.5% 1% 0.25%;}
.orders-list ul li a{display:table;width:100%;text-decoration:none;color:#454545;}
.orders-list.top_nav ul li a{display:table;width:100%;text-decoration:none;color:#454545;height:90px;}
.orders-list ul li:hover,.orders-list ul li.active{background:#d13138;}
.orders-list ul li:hover a .name,.orders-list ul li.active .name{color:#fff;}

.orders-list ul li a img{background:no-repeat 0 0;}
.orders-list ul li a .order_type_1{background-image:url(../images/bg/mission_icon_1.png);}
.orders-list ul li a .order_type_2{background-image:url(../images/bg/mission_icon_2.png);}
.orders-list ul li a .order_type_3{background-image:url(../images/bg/mission_icon_3.png);}
.orders-list ul li a .order_type_4{background-image:url(../images/bg/mission_icon_4.png);}
.orders-list ul li a .order_type_5{background-image:url(../images/bg/mission_icon_5.png);}

.orders-list ul li a:hover .order_type_1,.orders-list ul li.active a .order_type_1{background-image:url(../images/bg/mission_icon_hover_1.png);}
.orders-list ul li a:hover .order_type_2,.orders-list ul li.active a .order_type_2{background-image:url(../images/bg/mission_icon_hover_2.png);}
.orders-list ul li a:hover .order_type_3,.orders-list ul li.active a .order_type_3{background-image:url(../images/bg/mission_icon_hover_3.png);}
.orders-list ul li a:hover .order_type_4,.orders-list ul li.active a .order_type_4{background-image:url(../images/bg/mission_icon_hover_4.png);}
.orders-list ul li a:hover .order_type_5,.orders-list ul li.active a .order_type_5{background-image:url(../images/bg/mission_icon_hover_5.png);}

.orders-list ul li a > div{display:table-cell;vertical-align:middle;}
.orders-list.top_nav ul li a > div{display:table-cell;vertical-align:middle;height:60px;}
.orders-list ul li a > div.image{width:65px;text-align:center;padding:15px 0;}
.orders-list ul li a > div.name{padding:15px 20px 15px 0;}

.bank_details{display:none;}
.third .linkButton{margin-top:0;}
/*order_call_block*/
#order_call_block{display:none;background:#fff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius:3px;padding:15px 20px;}
#order_call_block h3{margin:0 0 10px;}


label.high_top{
    margin-bottom: -2px;
    margin-top: -2px;
}
/*form loaders*/
.form_loading{width:500px;height: 140px;position:absolute;top:0;left:0;display:none;text-align:center;color:#000000;font-size:20px;background:url(../images/bg/splash_bg.png) repeat 0 0;}
.form_block_wrapper{position:relative;}
#floatingBarsG{margin: 5px auto;}
.form_success{width:100%;padding:0;height:115px;position:static;top:0;left:0;display:none;background:#fff;}

#change_manager .form_success{height:auto;}
#change_manager #floatingBarsG1{margin: 0 auto 14px;}
.show_during_edition,.show_td_during_edition,.show_inline_during_edition{display:none;}

.hide_during_edition.button_line .linkButton,.hide_during_edition.button_line .linkButton2:hover{color:#D13138;}
.hide_during_edition.button_line .linkButton:hover{color:#fff;}
.hide_during_edition.button_line .linkButton2{color:#fff;float:none;display:inline;margin-left: -140px;position: relative;top: 7px;}
.button_line.hide_during_edition{text-align:center;margin-bottom:20px;}
.button_line.hide_during_edition .linkButton{float:left;}



/*bottom footer*/
body {height: 100%;min-height: 100%;padding: 0;margin: 0;}
html, body {height: 100%;	margin: 0;padding: 0;}
.page-wrapper {min-height: 100%;margin-bottom: -50px}
* html .page-wrapper {height: 100%;}
.main_container {height: auto !important;min-height: 100%;padding: 0;position: relative;width: 100%;min-width:1024px;}
.clear-footer {height: 50px;clear: both;}
#footer{height: 50px;width:100%;min-width:1024px;}

.main_container{padding-top:120px;}

/*responsive*/
/*@media (min-width: 992px) {*/
	.main_container{padding-top:120px;}
	body.with-submenu .main_container{padding-top:160px;}
	.header_line{height:65px;}
	.navbar-inverse .navbar-nav > li:first-child > a{-webkit-border-radius: 0 0 0 5px;-moz-border-radius: 0 0 0 5px;border-radius:0 0 0 5px;}
	.navbar-inverse .middle_menu .navbar-nav > li:first-child > a{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius:3px;}
/*}
@media (max-width: 991px) {
	.navbar-collapse .row{border-width: 0 1px 1px 1px;}
	.navbar-collapse{border:0;}
}
@media (max-width: 767px) {
	.navbar-header .row {margin: 0;}
	.navbar-nav > li{background:transparent;}
	.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {background-image: none;margin: 0 -1px;padding-bottom: 15px;padding: 10px 16px;}
}*/
.n_doc{min-width: 120px;}
.date_doc{min-width: 155px;}



.files{
	overflow:hidden;
	margin: 10px 0 0;
	display:none;
}
.add_user.files{display:block;}
.close_data_edit{
	display:none;
}
.file_input_div {
	float:right;
    display: block;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 94px;
}
.file_input_button {
    position: absolute;
    top: 0;
    width: 94px;
	border:0;
	letter-spacing:0.8;
}
.file_input_hidden {
    cursor: pointer;
    font-size: 45px;
    opacity: 0;
    position: absolute;
    right: 0;
	border:0;
    top: 0;
}

#file {
	position:relative; 
	float:left;
	padding:0px; 
	margin: 0;
	text-align:left;
	width:94px; 
	height:30px; 
	overflow:hidden;
	background:url(../images/bg/file_bg.jpg) no-repeat 0 0;
	cursor:pointer;
}
#file:hover {
	background-position:0 100%:
}
#file input {
	height:26px;
	position:absolute; 
	right:0px;
	cursor:pointer;
	opacity: 0; 
	filter: alpha(opacity=0);
}
.files label{
	padding: 5px 50px 0 0;
	margin:0;
	float:left;
	color:#454545;
	font-size:14px;
}
#file_list {
    list-style: none outside none;
    margin: 0;
    padding: 10px 0;
	overflow: hidden;
	clear:both;
	display:none;
}
.add_user #file_list{display:block;}
#file_list li {
    color: #454545;
    font-size: 14px;
	font-family:Arial;
    margin: 0 0 5px;
}
#file_list li input{
	display:none;
}
.delete_file {
	left: 2px;
	margin-right: 15px;
	position: relative;
	top: 1px;
}

.fancybox-title{
	color: #454545;
    font-family: 'PTSans-Regular';
    font-size: 16px;
    text-transform: uppercase;
	margin-right: 20px;
}
.fancybox-skin .close{
	opacity:1;
}
.fancybox-image{
	min-width:400px;
}
/*edit_leader*/
.edit_directories{}
.edit_directories .save,.edit_directories .cancel{display:none;}
.period{margin-right:10px;}
.no_russia_bank{display:none;}
.bootstrap-select .btn-default[disabled]{
	background-color: #EEEEEE;
    cursor: not-allowed;
    opacity: 1;
}

.bootstrap-select .btn-default.disabled,.bootstrap-select  .btn-default[disabled],.bootstrap-select  .btn-default.disabled:hover,.bootstrap-select  .btn-default[disabled]:hover, .bootstrap-select  .btn-default.disabled:focus, .bootstrap-select .btn-default[disabled]:focus, .bootstrap-select  .btn-default.disabled:active, .bootstrap-select .btn-default[disabled]:active, .bootstrap-select .btn-default.disabled.active,.bootstrap-select  .btn-default.active[disabled]{
    background-color: #EEEEEE;
    cursor: not-allowed;
    opacity: 1;
}
.contact_controls a{float:none;margin-right:10px;margin-top:0;}
.contact_controls a.edit_field{margin-top:6px;}
.line .save_contact,.line .cancel_contact{display:none;}


.errors {display:block;color:#D13138;font-size:14px;}
.errors .error {background:transparent;height: auto;left: 0;padding: 0;position: static;color:#D13138;font-size:14px;}

input.error,textarea.error{border:1px solid #F37120;background:#fff;}
label.error{display:none!important;}
input.error,textarea.error{border-color:#e2001a;}
input.error{border:#e2001a 2px solid!important;}
textarea.error{border:#e2001a 2px solid!important;}
.errors > div{color:#D13138;font-size:14px;}
#info_time_kode_recovery{font-size: 12px;}

.false_code_text{
    color: #e03138;
    font-size: 11px;
    margin: 9px 0 0;
    padding: 0;
}
.like_second_line{padding-top:44px;}

textarea.form-control {height: auto;resize:none;outline:0;}

.top_print{display:none;}
.table_report table td{padding:5px;}
.table_report.big_table table td{font-size:12px;}
.table_report table thead td{text-align:center;padding:3px 0;font-weight:bold;font-size:12px;}
.table_report table td.right{text-align:right;}
.table_report table td.center{text-align:center;}
.star_text{font-size:80%;}
.inner-block.without_border{border-width:1px 0 1px 0;}
.inner-block.without_border table tr td:first-child{border-left:1px solid #d1dae0;}
.inner-block.without_border table tr td:last-child{border-right:1px solid #d1dae0;}
.inner-block.without_border td.empty_line{border:0!important;height:20px;}
.with_border table td.top_td{vertical-align:top;border-right:0;text-align:left;padding-left:5px;}
.with_border table td.bottom_td{vertical-align:bottom;border-left:0;padding-right:5px;}
.with_border table .bb_0{border-bottom:0;}
.with_border table .bt_0{border-top:0;}
.with_border table .bl_0{border-left:0;}
.with_border table .br_0{border-right:0;}
.with_border.money_style table td{font-size:12px;}
.with_border.money_style table td.green{font-size:10px;padding:0 5px;color:#00891B;}

span.money{white-space:nowrap;}
.top_line_button{padding:20px 0 0;}
.linkButton.back, .linkButton.print{display:inline-block;float:none;}