.main_container {padding-top: 0;}
.navbar-wrapper, #footer,.linkButton.back, .linkButton.print{display:none;}

.top_print{display:block;overflow:hidden;padding-bottom:20px;border-bottom:1px solid #000;}
.top_print .image{float:left;width:220px;}
.top_print .image img{width:140px;}
.top_print h3,.top_print p{overflow:hidden;}