@media  	(device-pixel-ratio : 2),
     (-o-min-device-pixel-ratio : 2),
   (min--moz-device-pixel-ratio : 2),
(-Webkit-min-device-pixel-ratio : 2),
			(device-pixel-ratio : 1.5),
     (-o-min-device-pixel-ratio : 1.5),
   (min--moz-device-pixel-ratio : 1.5),
(-Webkit-min-device-pixel-ratio : 1.5),
			  (min-resolution: 192dpi),
			  (min-resolution: 144dpi){
	.person_block .name_person{background-image:url(../images/bg_2x/people_icon.png);background-size: 11px 11px;}
	.navbar-nav > li{background-image:url(../images/bg_2x/separator_bg.gif);background-size: 2px 1px;}
	.middle_menu .navbar-nav > li{background:transparent;}
	footer  .drucom-info{background-image:url(../images/bg_2x/drucom.png);background-size: 26px 28px;}
	.close_button, .close_icon{background-image:url(../images/bg_2x/close_icon.png);background-size: 17px 17px;}
	.bootstrap-datetimepicker-widget th.next span{background-image:url(../images/bg_2x/next.png);background-size: 10px 12px;}
	.bootstrap-datetimepicker-widget th.prev span{background-image:url(../images/bg_2x/prev.png);background-size: 10px 12px;}
	.form_loading{background-image:url(../images/bg_2x/splash_bg.png);background-size: 1px 1px;}
	.exit_button{background-image:url(../images/bg_2x/logout_icon.png);background-size: 13px 13px;}
	
	
	.orders-list ul li a .order_type_1{background-image:url(../images/bg_2x/mission_icon_1.png);background-size:40px 43px;}
	.orders-list ul li a .order_type_2{background-image:url(../images/bg_2x/mission_icon_2.png);background-size: 40px 36px;}
	.orders-list ul li a .order_type_3{background-image:url(../images/bg_2x/mission_icon_3.png);background-size: 40px 34px;}
	.orders-list ul li a .order_type_4{background-image:url(../images/bg_2x/mission_icon_4.png);background-size: 42px 43px;}
	.orders-list ul li a .order_type_5{background-image:url(../images/bg_2x/mission_icon_5.png);background-size: 42px 34px;}

	.orders-list ul li a:hover .order_type_1,.orders-list ul li.active a .order_type_1{background-image:url(../images/bg_2x/mission_icon_hover_1.png);background-size:40px 43px;}
	.orders-list ul li a:hover .order_type_2,.orders-list ul li.active a .order_type_2{background-image:url(../images/bg_2x/mission_icon_hover_2.png);background-size: 40px 36px;}
	.orders-list ul li a:hover .order_type_3,.orders-list ul li.active a .order_type_3{background-image:url(../images/bg_2x/mission_icon_hover_3.png);background-size: 40px 34px;}
	.orders-list ul li a:hover .order_type_4,.orders-list ul li.active a .order_type_4{background-image:url(../images/bg_2x/mission_icon_hover_4.png);background-size: 42px 43px;}
	.orders-list ul li a:hover .order_type_5,.orders-list ul li.active a .order_type_5{background-image:url(../images/bg_2x/mission_icon_hover_5.png);background-size: 42px 34px;}


	@media (max-width: 767px) {
		.navbar-nav > li{background:transparent;}
		.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {background-image: none;}
	}
}
